@model TP_COVID19.Web.Models.Vaccination

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vaccination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="IDVaccinId" class="control-label"></label>
                <select asp-for="IDVaccinId" class="form-control" asp-items="ViewBag.IDVaccinId"></select>
                <span asp-validation-for="IDVaccinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDPatientId" class="control-label"></label>
                <select asp-for="IDPatientId" class="form-control" asp-items="ViewBag.IDPatientId"></select>
                <span asp-validation-for="IDPatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rappel" class="control-label"></label>
                <input asp-for="Rappel" class="form-control" />
                <span asp-validation-for="Rappel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
